<style>
    .about-h5 {
        font-size: 1.5rem;
        color: #fff;
    }
    
    .about-p {
        color: black;
        font-size: 1rem;
        text-align: justify;
        line-height: 1.4rem;
    }
    
    .about-ul {
        -webkit-padding-start: 0;
        padding-left: 0;
        list-style-type: none;
    }
    
    .about-a {
        color: #000000;
        font-weight: bold;
    }
    
    .about-a:hover {
        text-decoration: none;
    }
    
    .mule {
        margin-right: 5rem;
        height: 150px;
        width: 150px;
        background-color: #fff;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .hello {
        font-size: 1.5rem;
    }
    
    .mule img {
        height: 90%;
        width: 90%
    }
    
    .founder {
        font-size: 1.3rem;
        text-align: center;
    }
    
    .col {
        padding: 0;
    }
    
    .cborder {
        padding: 3rem;
        border: 1px solid #f5f5f5;
        background-color: #f93;
    }
    
    .dheader {
        display: flex;
        justify-content: space-between;
    }
    
    .date {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    .founder-details {
        display: flex;
        justify-content: space-between;
    }
    
    .modal-lg {
        max-width: 1200px;
    }
    
    .background-about {
        background-color: transparent;
        border: transparent;
    }
    
    .scroll-bar {
        overflow-y: scroll;
    }
    
    @media screen and (max-width:767px) {
        .maya-container {
            max-width: 100%;
        }
        .mule {
            margin-right: 0;
        }
        .about-h2 {
            font-size: 1.4rem;
        }
        .about-h3 {
            font-size: 1.1rem;
        }
        .about-p {
            font-size: 0.9rem;
        }
        .mule {
            height: 120px;
            width: 120px;
        }
        .hello {
            font-size: 1rem;
        }
        .modle-width {
            max-width: 100%;
        }
    }
    
    @media screen and (max-width: 600px) {
        .col {
            /* padding: 1.5rem; */
        }
        .founder-details {
            font-size: 1rem;
        }
        .cborder {
            padding: 1.8rem;
        }
    }
    
    @media screen and (max-width: 480px) {
        .about-h2 {
            font-size: 1.3rem;
        }
        .about-h3 {
            font-size: 1.1rem;
        }
        .cborder {
            padding: 1rem;
        }
        .mule {
            height: 90px;
            width: 90px;
        }
        .founder {
            font-size: 1.06rem;
        }
        .about-p {
            font-size: 0.8rem;
        }
        .modle-width {
            max-width: 100%;
        }
    }
</style>

<section class="orange-strip">
    <div class="container-fluid">

    </div>
</section>
<section class="mayadata-bgcolor">
    <div class="container">
        <div class="row maya-img-about" style="padding:5% 0%;">
            <div class="col-md-3 gm">
                <div class="mule-square">
                    <img src="assets/images/mule-sitting.svg">
                </div>
            </div>
            <div class="col-md-6" style="margin:auto;">
                <div class="aboutmaya-data">
                    <h1>About MayaData</h1>
                    <p>MayaData, Inc. was founded by the team behind CloudByte with the addition of a number of technologists from Nexenta, StackStorm, HPE and elsewhere. The company has extensive history in building and operating container based storage
                        systems for enterprises.
                    </p>
                </div>
            </div>
            <div class="col-md-3 maya-secret-about gm">
                <div class="secret-plan" style="cursor:pointer" data-toggle="modal" data-target=".bd-example-modal-lg">

                    <p>Our secret plan to world domination</p>

                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container board">
        <div class="row board-h1">
            <div class="col-md-12">
                <h1>Board</h1>
            </div>
        </div>
        <div class="row board-div">
            <div class="col-6 col-md-2 board-idiv rf">
                <a href="https://www.linkedin.com/in/epowell" target="_blank" alt="Evan Powell"><img src="assets/images/image1.png"><br><span>Evan Powell</span></a>
            </div>
            <div class="col-6 col-md-2 board-idiv lf">
                <a href="https://www.linkedin.com/in/umasankar-mukkara-aa254a1" target="_blank" alt="Uma Mukkara"><img src="assets/images/image2.jpg"><br><span>Uma Mukkara</span></a>
            </div>
            <div class="col-6 col-md-2 board-idiv rf">
                <a href="https://www.linkedin.com/in/sandeep-singhal-4467b/" target="_blank" alt="Sandeep Singhal"><img src="assets/images/image3.png"><br><span>Sandeep Singhal</span></a>
            </div>
            <div class="col-6 col-md-2 board-idiv lf">
                <a href="https://www.linkedin.com/in/raj-dugar-6b409a3/" target="_blank" alt="Raj Dugar"><img src="assets/images/image4.png"><br><span>Raj Dugar</span></a>
            </div>
            <div class="col-6 col-md-2 board-idiv rf">
                <a href="https://www.linkedin.com/in/sasha-mirchandani-81a48913/" target="_blank" alt="Sasha Mirchandani"><img src="assets/images/image5.jpg"><br><span>Sasha Mirchandani</span></a>
            </div>
            <div class="col-6 col-md-2 board-idiv lf">
                <a href="https://www.linkedin.com/in/christof-zihlmann-9b29024a/" target="_blank" alt="Christof Zihlman"><img src="assets/images/image6.png"><br><span>Christof Zihlman</span></a>
            </div>
        </div>
    </div>
</section>



<section>
    <div class="container investor">
        <div class="row investor-h1">
            <div class="col-md-12">
                <h1>Investors</h1>
            </div>
        </div>
        <div class="row investor-div">
            <div class="col-12 col-md-4 mob-cen">
                <div class="investor-idiv">
                    <img src="assets/images/investor-logo-1.png">
                </div>
            </div>
            <div class="col-12 col-md-4 mob-cen">
                <div class="investor-idiv">
                    <img src="assets/images/investor-logo-2.png">
                </div>
            </div>
            <div class="col-12 col-md-4 mob-cen">
                <div class="investor-idiv">
                    <img src="assets/images/investor-logo-3.png">
                </div>
            </div>
            <div class="col-12 col-md-4 mob-cen desktop-hide">

                <div class="investor-idiv">
                    <img src="assets/images/investor-logo-4.png">
                </div>

            </div>
            <div class="col-12 col-md-4 mob-cen desktop-hide">
                <div class="investor-idiv">
                    <img src="assets/images/investor-logo-5.png">
                </div>
            </div>
        </div>

        <div class="row investor-div mobile-hide">
            <div class="col-3 col-md-2"></div>
            <div class="col-6 col-md-4 mobile-hide">

                <div class="investor-idiv ">
                    <img src="assets/images/investor-logo-4.png">
                </div>

            </div>
            <div class="col-6 col-md-4 mob-cen">
                <div class="investor-idiv">
                    <img src="assets/images/investor-logo-5.png">
                </div>
            </div>
            <div class="col-3 col-md-2 ">

            </div>
            <!-- <div class="col-md-4">
                <div class="investor-idiv">
                    <img src="assets/images/investor-logo6.png">
                </div>
            </div> -->
        </div>
    </div>
</section>


<div class="modal fade bd-example-modal-lg " tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-header mobile-view" style="padding: 0px; border-bottom: none;">
            <!-- <h5 class="modal-title">Modal title</h5> -->
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span class="fa-stack fa-1x">
                                <i class=" fa-stack-1x"></i>
                                <i class="fa fa-times fa-stack-1x" style="color:#000;background-color:#fff;border-radius:50%;"></i>
                            </span>
                        </button>
        </div>
        <div class="modal-content background-about" style="width:100%">

            <section class="">
                <div class="container maya-container scroll-bar" id="hero1">
                    <div class="row">
                        <div class="col-md-12 col">
                            <button type="button" class="close desktop-view" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">
                                                    <span class="fa-stack fa-1x">
                                                            <i class=" fa-stack-1x"></i>
                                                            <i class="fa fa-times fa-stack-1x" style="color:#000;background-color:#fff;border-radius:50%;"></i>
                                                        </span>
                                                          <!-- <i class="fa fa-times" aria-hidden="true" style="color:#fff;font-size:20px;background-color:#000000;border-radius:50%;"></i></span> -->
                                                          </span>
                                          </button>
                            <div class="cborder" style="">
                                <div>
                                    <div class="dheader">
                                        <div class="date">
                                            <p class="about-p">
                                                05-Dec-2017<br> KubeCon

                                            </p>
                                            <p class="hello" style="">
                                                Hello everyone!
                                            </p>
                                        </div>
                                        <div class="mule" style="">
                                            <img alt="MayaData" src="assets/images/mayadata-mule.svg">
                                        </div>
                                    </div>

                                    <h2 class="about-h2">MayaData's secret plan to world domination</h2>
                                    <div>
                                        <p class="about-p">
                                            You can read more about our announcements including the launch of MayaOnline <a class="about-a" href="https://www.prnewswire.com/news-releases/openebs-sponsor-cloudbyte-now-mayadata-and-launches-mayaonline-at-kubecon-662301483.html"
                                                style="color:#f5f5f5;" target="_blank">here</a> and the release version 0.5 of OpenEBS, the leading containerized storage for containers open source project, <a class="about-a" href="https://www.prnewswire.com/news-releases/openebs-v05-released-661008463.html"
                                                style="color:#f5f5f5;" target="_blank">here</a>
                                        </p>
                                        <p class="about-p">
                                            Uma and I thought it is worth sharing our backstory and our strategy. Why? Because transparency! And specifically so the broader community can better anticipate where we are headed and why. Plus, yes, we are hiring!
                                        </p>
                                        <p class="about-p">
                                            We are happy to chat directly with anyone and you can find us on the OpenEBS community (<a class="about-a" href="https://openebs-community.slack.com" target="_blank">https://openebs-community.slack.com</a>)
                                            or on twitter at <a class="about-a" href="https://twitter.com/uma_mukkara" target="_blank"> @uma_mukkara</a> and
                                            <a class="about-a" href="https://twitter.com/epowell101" target="_blank">@epowell101</a> .
                                        </p>
                                    </div>
                                    <div style="margin-top:1rem;margin-bottom:1rem;">
                                        <h3 class="about-h3">So here’s our secret 5 step plan for world domination:</h3>
                                    </div>
                                    <ul class="about-ul">
                                        <li>

                                            <h5 class="about-h5">Fight lock-in, enable choice:</h5>
                                            <p class="about-p">
                                                We think the oft discussed shift to listening to developers is profound and long overdue. After all, they actually write the software and build the systems that deliver the value. So we give developers and DevOps teams unequaled control over their storage
                                                without any headache. And they know it works because it is open source.
                                            </p>
                                            <p class="about-p">
                                                Transparency builds trust.
                                            </p>
                                            <p class="about-p">
                                                However fighting lock-in through an open source model is no longer enough. Increasingly cloud is the new lock-in. Thankfully Kubernetes is addressing cloud lock-in at higher layers by providing what has fast become a defacto standard means of orchestrating
                                                workloads. Clouds are now competing to show how well Kubernetes runs on them - which is a bit ironic because Kubernetes is fundamental to fixing cloud lock-in and hence should lead to cloud commoditization.
                                            </p>
                                            <p class="about-p">
                                                However data gravity exists.
                                            </p>
                                            <p class="about-p">
                                                We help users address cloud-lock through our data mobility capabilities such as MayaOnline’s cMotion, which requires the power of OpenEBS plus the intelligence and visibility of Maya.
                                            </p>


                                        </li>

                                        <li>

                                            <h5>Out listen everybody :</h5>
                                            <p class="about-p">
                                                At MayaData “Product Management” is a team sport. We believe that the community gives us an unequaled chance to out learn any proprietary vendor. If you don’t believe in open source, we will just say - hi, it is the 21st century, Welcome !
                                            </p>
                                            <p class="about-p">
                                                In all things we will seek to bring the community - users and contributors - into the decision making process.Sometimes that process will be outside our control and that’s ok.
                                            </p>
                                            <p class="about-p">
                                                Speaking of which, we are happy members of the Linux foundation and the Cloud Native Foundation. We are also interested in possibly contributing OpenEBS to an open source foundation. We have had brief chats with a couple and are open to ideas. We cherish
                                                the feedback we are receiving already from the storage experts that hang out in the Kubernetes storage SIG and especially from the tens of thousands of OpenEBS users.
                                            </p>
                                            <p class="about-p">
                                                Also - you may have noticed we built an entire product called <a class="about-a" href="https://mayaonline.io" target="_blank">MayaOnline </a> to listen to how OpenEBS and Kubernetes and the workloads themselves
                                                are performing. We use software to help us listen better. Ahhh, data!
                                            </p>


                                        </li>
                                        <li>

                                            <h5>
                                                Out code them too :
                                            </h5>
                                            <p class="about-p">
                                                As of early December 2017, we bring to this mission 50+ engineers, many of whom already built an enterprise class containerized storage solution over the last 4-5 years. So while our existing product was built on BSD jails, and OpenEBS is built on Linux
                                                containers, we know what it means to put into userspace a fully functional storage system.
                                            </p>
                                            <p class="about-p">
                                                Maybe that’s why OpenEBS is the only truly containerized storage solution available today - while our proprietary competitors claim to run on any cloud in fact they require a special OS build to work. Kernel hacks are the kind of technical debt you cannot
                                                pay off easily - so we have done the hard work of truly being containerized thanks to putting enterprise class storage capabilities in the userspace
                                            </p>
                                            <p class="about-p">
                                                And we will at least double that force of 50+ engineers. And already we see more than 4x as many external contributors as internal on the OpenEBS community. In 12 months there will be more than 400 contributors to OpenEBS - that’s a huge force for a focused
                                                effort.
                                            </p>
                                            <p class="about-p">
                                                You can do a lot with hundreds of storage and devops engineers. Stay tuned. We are accelerating. Join us !!!
                                            </p>


                                        </li>
                                        <li>

                                            <h5>
                                                Compete :
                                            </h5>
                                            <p class="about-p">
                                                As the tone above suggests, we are working to ensure that our approach is fundamentally superior to prior approaches of managing of data in containerized environments. While we have been relatively quiet in the past, now that OpenEBS is maturing and Maya
                                                is attracting early users, we intend to proudly lead.
                                            </p>
                                            <p class="about-p">
                                                Code is more important than marketing.
                                            </p>
                                            <p class="about-p">
                                                However, we will not be out marketed. We will not be out partnered. And thanks in part to Maya and the intelligence it shares with us as well as our customers we will not be out learned. It all comes down to having more successful users achieving outcomes
                                                they simply cannot with older approaches. User advocacy is our north star, our key metric.
                                            </p>


                                        </li>



                                        <li>
                                            <h5>The end of the beginning: </h5>
                                            <p class="about-p">
                                                So that’s most of ^^ the secret plan.
                                            </p>
                                            <p class="about-p">
                                                We know we are dealing with enterprise data. It has to be made safe and secure while also being trivial to manage and move. We intend to earn your trust through transparency and unrelenting and accelerating execution.
                                            </p>
                                            <p class="about-p">
                                                Thank you for your feedback and for being MayaOnline and of course OpenEBS users!
                                            </p>
                                        </li>
                                    </ul>


                                    <div style="padding:5%;"></div>
                                    <div class="founder-details">
                                        <div>
                                            <p class="founder">Evan Powell</p>
                                            <p style="line-height:0.5">Chairman & CEO</p>



                                        </div>
                                        <div>
                                            <p class="founder">Uma Mukkara</p>
                                            <p style="line-height:0.5;text-align:center;">COO</p>



                                        </div>
                                    </div>



                                </div>




                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>