<section style="width:auto;">
    <div class="jumbotron jumbotron-fluid mayabanner mayabannercolor">
        <div class="container ">

            <div class="row mobile-flex-reverse">

                <div class="col-md-12 ">
                    <h1 class="display-5 welcome desktop-view" style="color:#414141;">Welcome !</h1>
                </div>
            </div>
            <div class="row mule-flex">

                <div class="col-md-8 mayadetails">
                    <div class="maya-content">
                        <h1 class="display-5 welcome mobile-view" style="color:#414141;">Welcome !</h1>
                        <!-- <h1 class="display-5">The most popular <br class="mobile-view">containerized storage solution <br class="mobile-view">for containers. </h1>
                        <p class="lead mobile-size">Self management of storage for DevOps,<br class="mobile-view"> with the help of software.</p> -->

                        <p class="lead-2 mobile-size" style="color:#ffffff;">At MayaData, we believe containerization, Kubernetes and other trends such as DevOps enable a fundamentally better approach to delivering data management. </p>
                        <p class="lead-2 mobile-size" style="color:#414141;">We are the company behind both OpenEBS and MayaOnline.io. Together they deliver a never before possible level of control and automation for data management.</p>
                        <!-- <p class="lead-2 mobile-size">Together they deliver a never before possible level of control and automation for data management.</p> -->

                        <button class="maya-btn"><a routerLink="/AboutUs" style="color:#f93;">Learn more about MayaData’s plans</a></button>

                    </div>
                </div>

                <div class="col-md-4 endflex">
                    <div class="maya-img">
                        <!-- <img class="maya-img" alt="MayaData" src="assets/images/mayadata-mule-new.png"> -->
                        <!-- <img class="maya-imgtag" alt="MayaData" src="assets/images/mayadata-mule.svg"> -->
                        <img class="maya-imgtag" alt="MayaData" src="assets/images/wave-final.gif">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="jumbotron jumbotron-fluid " style="background-color:#18899B; margin:0;">
        <div class="container">
            <div class="row">
                <div class="col-12 col-md-12">
                    <div class="maintainer">
                        <div class="row">
                            <div class="col-6 col-md-6">
                                <div class="mayaonline-animate">
                                    <img src="assets/images/components-1.png" class="reduce-size" alt="Mayadata AWS" title="AWS Cloud">

                                </div>

                            </div>
                            <div class="col-6 col-md-6">
                                <div class="mayaonline-animate2">
                                    <img src="assets/images/components-2.png" class="reduce-size reduce-size-datacenter" alt="On-premises data center" title="On-premises data center Cloud">

                                </div>
                            </div>
                        </div>
                        <!-- <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-3" id="arrow1">
                            <img src="assets/images/arrow.svg" style="transform: rotate(131deg); height:50px; width:213px; ">
                        </div>
                        <div class="col-md-3">
                            <img src="assets/images/arrow.svg" id="arrow2" style="transform: rotate(20deg); height:50px; width:85px;">
                        </div>
                        <div class="col-md-3"></div>
                    </div> -->
                        <div class="row">


                            <div class="col-2 col-md-2">
                                <div></div>
                            </div>
                            <div class="col-8 col-md-8">
                                <div class="mayaonline-div">
                                    <div id="clouds" class="clouds">
                                        <!-- <div class="cloud x3"></div> -->
                                        <!-- <div class="cloud x4"></div> -->
                                        <div class="cloud x5"></div>
                                        <div class="cloud x2"></div>
                                        <!-- Time for multiple clouds to dance around -->
                                        <div class="maya-online-sec">
                                            <img src="assets/images/mayaonlinewithmule-new.svg" id="someid" class="someid" alt="Mayamule here">
                                            <!-- <img src="assets/images/flying-mule.svg" class="maya-online-logo" alt="Flying Mule" title="Our Flying Mule">
                                    <img src="assets/images/mayaonline-logo.svg" class="maya-online-logo" alt="Mayadata AWS" title="MayaData AWS"> -->
                                            <!-- </div> -->
                                        </div>
                                        <div class="large-viewport">
                                            <p style="color:#ffffff;text-align:center;">Self management of storage for <strong>DevOps</strong>, with the help of software.<br><strong>Free</strong> visibility into <strong>Kubernetes</strong> with ChatOps & cross cloud control.</p>
                                            <div class="text-center">
                                                <a href="https://mayaonline.io/" style="color:#fff"> <button type="button" style="text-align:center; background-color:#ff9933;    padding: 0.5% 2%; " class="btn btn-info bt-sm mobile-btn"> <a href="https://mayaonline.io/" target="_blank" style="color:#fff">Learn more </a></button></a>
                                            </div>
                                        </div>
                                        <!-- <div class="cloud x4"></div> -->



                                        <!-- <div class="cloud x1"></div> -->


                                    </div>
                                </div>

                            </div>

                            <div class="col-2 col-md-2" style="justify-content: flex-end;
                    text-align: end;">
                                <!-- <div class="devops">
                                    <img src="assets/images/devops.svg">
                                </div> -->
                            </div>
                        </div>
                        <!-- <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-3">
                        <img src="assets/images/arrow.svg" id="arrow3" style="transform: rotate(17deg);height:50px; width:155px;">
                    </div>
                    <div class="col-md-3">
                        <img src="assets/images/arrow.svg" id="arrow4" style="transform: rotate(-49deg);height:50px; width:215px;">
                    </div>
                    <div class="col-md-3"></div>
                </div> -->
                        <div class="row small-viewport">
                            <div class="col-12">
                                <div>
                                    <p style="color:#ffffff;text-align:center;">Self management of storage for <strong>DevOps</strong>, with the help of software.
                                        <br><strong>Free</strong> visibility into <strong>Kubernetes</strong> with ChatOps & cross cloud control.</p>
                                    <div class="text-center">
                                        <a href="https://mayaonline.io/" style="color:#fff"> <button type="button" style="text-align:center; background-color:#ff9933;    padding: 0.5% 2%;    font-size: 1.15rem; " class="btn btn-info bt-sm mobile-btn">Learn more</button></a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12 ">
                                <!-- <p style="color:#ffffff;text-align:center;">Self management of storage for <strong>DevOps</strong>, with the help of software. Free visibility into <strong>Kubernetes</strong> w/ ChatOps & cross cloud control.</p>
                                <div class="text-center">
                                    <button type="button" style="text-align:center; background-color:#ff9933;    padding: 0.5% 2%; " class="btn btn-info bt-sm mobile-btn">Know more</button>
                                </div> -->
                            </div>
                        </div>
                        <div class="row" style="margin-top: -1.5%;">
                            <div class="col-6 col-md-6">
                                <div class="mayaonline-animate">
                                    <img src="assets/images/components-3.png" class="reduce-size" alt="Google Cloud" title="Google Cloud">
                                </div>
                            </div>
                            <div class="col-6 col-md-6">
                                <div class="mayaonline-animate2">
                                    <img src="assets/images/components-4.png" class="reduce-size" alt="Azure Cloud" title="Azure Cloud">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>









<div class="jumbotron jumbotron-fluid " id="thirdsec" style="margin:0; padding:0;background-color:#ffffff;">
    <div class="container-fluid ">
        <div class="row">
            <div class="col-md-4 r-p ">
                <div class="openebs-section p-d1 ebsheight">
                    <div class="row ">
                        <div class="col-md-12 ">

                            <img class="ebsimg" src="assets/images/openebs.svg" title="OpenEBS" alt="OpenEBS">

                        </div>
                    </div>
                    <div class="row ">
                        <div class="col-md-12 ">
                            <div class="openebs-des">
                                <!-- <p>OpenEBS is open source under the Apache license. It is the most active container native storage open source project with a growing community. and includes enterprise capabilities such as at rest and in flight encryption,
                                    snapshot based replication and cloning, end to end data integrity checks, caching and tiering and more.
                                </p> -->
                                <p>OpenEBS is a leading open source containerized storage project. It includes capabilities such as at rest and in flight encryption, snapshot based replication and cloud independence. OpenEBS allows every workload - and storage
                                    team - to have its own storage controller.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 " style="width:100%;text-align:center;">


                            <p class="openebsrelease">OpenEBS 0.5 released</p>

                            <div class="openebs-btn-05">
                                <button type="button" class="btn btn-sm"> <a href="http://openebs.readthedocs.io/en/latest/release_notes/releasenotes.html" style="color:#fff;" target="_blank"> Release notes</a></button>
                            </div>
                        </div>

                    </div>
                </div>
            </div>


            <div class="col-md-4 r-p">
                <div class="openebs-section p-d2 ebsheight">
                    <div class="row ">
                        <div class="col-md-12 ">


                            <div class="feature" style="display:inline-flex; justify-content:center; align-items:center; text-align:center;">
                                <!-- <div>
                                    <i class="fa fa-dropbox" aria-hidden="true" style="font-size:70px;color:#ee5a2b"></i>
                                </div> -->
                                <div style="padding-left:5%;">
                                    <h1 class="feature-icon"> Features</h1>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row p-d-here" style="align-items:center;">
                        <div class="col-6 col-md-6">
                            <div class="describe">
                                <div class="icon-class"><img class="icon-img" src="assets/images/cloudnative1.svg"></div>
                                <div class="icon-div">
                                    <h6 class="icon-para">Containerized Storage for Containers</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="describe adjust-div">
                                <div class="icon-class adjust-img"><img class="icon-img" src="assets/images/ebsfea.svg"></div>
                                <div class="icon-div">
                                    <h6 class="icon-para">Improves EBS & other cloud storage</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row avoidgranu" style="align-items:center;">
                        <div class="col-6 col-md-6">
                            <div class="describe">
                                <div class="icon-class"><img class="icon-img" src="assets/images/avoidlock.svg"></div>
                                <div class="icon-div">
                                    <h6 class="icon-para">Avoid cloud lock-in</h6>
                                </div>
                            </div>
                        </div>

                        <div class="col-6 col-md-6">
                            <div class="describe">
                                <div class="icon-class"><img class="icon-img" src="assets/images/granularcontrol1.svg"></div>
                                <div class="icon-div">
                                    <h6 class="icon-para">Granular Control</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="openebs-btn-05">
                                <button class="btn btn-sm"> <a style="color:#fff" href="https://www.youtube.com/watch?v=ePlEzZSUH1w" target="_blank">Videos</a></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>




            <div class="col-md-4 r-p">
                <div class="openebs-section p-d3 ebsheight rb">
                    <div class="row ">
                        <div class="col-md-12 ">

                            <div class="kubernetes-deploy">
                                <h1 class="feature-icon">Deploy on <img class="ebsimg" src="assets/images/kubernetes-logo.svg"></h1>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 ">

                            <!-- <div style="display:flex;flex-direction: column;align-items:center;padding-top: 0%;padding-bottom: 0%;"> -->
                            <div>
                                <!-- <p>OpenEBS is a leading open source containerized storage project. It includes capabilities such as at rest and in flight encryption, snapshot based replication and cloud independence. OpenEBS allows every workload - and storage
                                    team - to have its own storage controller.</p> -->
                                <p>Getting started with OpenEBS on your Kubernetes is easy. On your kubemaster, use the following command</p>
                                <div class="kubectlcmd">
                                    <p style="margin-bottom:0;">kubectl apply -f https://<br class="mobile-view">openebs.github.io<br class="desktop-view">/charts/openebs-operator.yaml</p>
                                </div>
                                <!-- <p>That's it! Now start, apply OpenEBS storage classes & you are all set.</p> -->
                                <p>That's it ! OpenEBS is now enabled on your kubernetes cluster. You can start using OpenEBS storage by specifying the <strong>openebs-standard</strong> storage class in your application's PVCs</p>
                                <p>More on these classes here:</p>

                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-md-12">


                            <div class="openebs-btn-05 docslink">
                                <button class="btn btn-sm"><a style="color:#fff" href="http://openebs.readthedocs.io/en/latest/getting_started/quick_install.html" target="_blank">Get Started</a></button>
                            </div>

                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>